.search-bar {
    background-color: #E5E5E5;
}

.search-bar p {
    color: gray;
    font-size: 12px;
}

.search-bar i {
    font-size: 14px;
}

.logo-lg {
    width: 105px;
}

.logo-sm {
    width: 45px;
}

.toolbar-controls i {
    font-size: 14px;
}

.dropdown i {
    color: #F09536;
}










/* DEBUG */

.debug .app-dashboard {
    border: 3px solid black;
    height: 100vh;
}

.debug .app-content {
    border: 2px solid purple;
    min-height: 100px;
}

/* .debug .app-toolbar {
    border: 1px solid green;
    min-height: 80px;
} */

.debug .app-sidebar {
    border: 1px solid blue;
    min-width: 100px;
    min-height: 100px;
}