/* TOOLBAR */

.search-bar input {
	padding-left: 28px;
	background-color: #e5e5e5;
}

.search-bar .search-bar__icon {
	top: 50%;
	left: 7px;
	transform: translateY(-50%);
	font-size: 14px;
	pointer-events: none;
}

.search-bar ::placeholder {
    font-size: 12px;
    color: gray;
}

.logo-lg {
    width: 105px;
}

.logo-sm {
    width: 40px;
}

.toolbar-controls i {
    font-size: 14px;
}

.dropdown i {
    color: #F09536;
}

/* SIDEBAR */

.app-sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: #0C1D32;
    width: 56px;
}

.menu-item, .user a {
    font-size: 13px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.475);
}

/* MAIN-CONTENT */
/* PANNELLO STUDENTI */
.panel-student {
    background-color: #3870E0;
}

.panel-student .badge {
    background-color: #2C5AB4;
    font-size: 10px;
}

.panel-student .angle {
    font-size: 10px;
}

.size-11 {
    font-size: 11px;
}

.offcanvas {
    --bs-offcanvas-width: 100%
}

/* TABLE */
.avatar-class {
    width: 20px;
}

.table {
    font-size: 13px;
}

.table th:first-child {
    width: 50%;
}

.table thead th:nth-child(4) {
    text-align: center;
}

.table tbody td:nth-child(4) {
    text-align: center;
}

.edit-button, .delete-button i {
   color: #6E757C;
}

.edit-button, .delete-button {
    --bs-btn-padding-y: .15rem; 
    --bs-btn-padding-x: .3rem; 
    --bs-btn-font-size: .65rem;
}



/* SEZIONE FAQ */

.accordion-button, .accordion-body {
    font-size: 13px;
}

/* SEZIONE TODO */

.todo-list {
    font-size: 13px;
}

/* UTENTI */

.statistics {
    font-size: 13px;
}







/* MEDIA QUERI */

@media (min-width: 576px) {
   
}

@media (min-width: 768px) {   
}

@media (min-width: 992px) {
    .app-sidebar {
        width: 117px;
    }

    .offcanvas {
        --bs-offcanvas-width: 650px
    }
}




/* DEBUG */
/* 
.debug .app-dashboard {
    border: 3px solid black;
} */

.debug .app-content {
    /* border: 2px solid purple; */
    min-height: 100px;
}

/* .debug .app-toolbar {
    border: 1px solid green;
    min-height: 80px;
} */

/* .debug .app-sidebar {
    border: 1px solid blue;
    min-width: 100px;
    min-height: 100px;
} */